<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title> Company </title>
</head>
<body class="container">
<header>
    <a href="/" style="padding: 0;"><span>Company</span></a>
    <nav>
        <a href="/departments">Departments</a>
        <a href="/employees">Employees</a>
    </nav>
</header>
<main>
    {% block main %} {% endblock %}
</main>
</body>
</html>