{% extends 'base.html' %}

{% block header %}<a>{{ dep.name }}</a>{% endblock %}

{% block main %}
    <h2>Average salary: {{ avg }}</h2>
    <h2>List of employees:</h2>
    {% for employee in data %}
        <div class="item">
            <span>{{ employee.name }} {{ employee.surname }}</span>
            <br><a>Birthday: {{ employee.date_of_birth }}</a>
            <br><a>Salary: {{ employee.salary }}</a>
            <div>
                <a href="/employees/edit/{{ employee.id }}">Edit</a>
                <a>|</a>
                <a class="delete_text"
                   onclick="deleteDisplay('department_delete', '/employees/{{ employee.id }}')">Delete</a>
                <a>|</a>
                <a href="/employees/{{ employee.id }}">More...</a>
            </div>
        </div>
    {% endfor %}

    <div onclick="location.href='/employees/add';" class="new-item">
        <a>+</a>
    </div>

    <div class="delete" id="department_delete">
        <h1>Delete employee</h1>
        <p>Please, confirm removing</p>
      <div>
          <button id="department_delete_yes">Yes</button>
          <button style="float: right" onclick="deleteDisplay('department_delete')">Cancel</button>
      </div>
    </div>
{% endblock %}