{% extends 'base.html' %}

{% block main %}
    <div class="employee">
        <div class="column">
            <img src="{{ url_for('static', filename='user.png') }}" width="100" height="100" alt="user icon"><br>
            <div class="column_btn"><a>Edit</a></div>
            <div class="column_btn"><a>Delete</a></div>
        </div>
        <div class="employee_data">
            <p><b>{{ employee.name }} {{ employee.surname }}</b></p>
            <p><b>Birthday:</b> {{ employee.date_of_birth }}</p>
            <p><b>Department:</b> {{ employee.department }}</p>
            <p><b>Salary:</b> {{ employee.salary }}</p>
        </div>
    </div>
{% endblock %}