<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title> Company </title>
</head>
<body class="container">
<header>
    <a href="departments.html" style="padding: 0;"><span>Company</span></a>
</header>
<main>
    <div class="employee">
        <div class="column">
            <img src="user.png" width="100" height="100" alt="user icon">
            <br><br><a href="form_employee.html">Edit</a>
            <br><br><a>Delete</a>
        </div>
        <div>
            <a><b>Myrtle Conley</b></a>
            <br><a><b>Birthday:</b></a><a>2000-10-12</a>
            <br><a><b>Department:</b></a><a>HUMAN RESOURCE</a>
            <br><a><b>Salary:</b></a><a>1100</a>
        </div>
    </div>
</main>
</body>