<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title> Company </title>
</head>
<body class="container">
<header>
    <a href="departments.html" style="padding: 0;"><span>Company</span></a>
    <a>Add/Edit department</a>
</header>
<main>
    <form>
        <label for="department_name">Name of department:</label>
        <input type="text" id="department_name" name="departmentname">
        <div style="margin-top: 20px">
            <input type="submit" value="Submit">
            <input type="button" value="Cancel" style="float:right">
        </div>
    </form>
</main>
</body>