{% extends 'form_base.html' %}

{% block header %}<a>Edit employee</a>{% endblock %}
{% block main %}
    <form method="post", action="/employees/{{ emp.id }}">
        {{ form.csrf_token }}

        {{ form.name.label() }}
        {{ form.name(value=emp.name) }}

        {{ form.surname.label() }}
        {{ form.surname(value=emp.surname) }}

        {{ form.date.label() }}
        {{ form.date(value=emp.date_of_birth) }}

        {{ form.department.label() }}
        {{ form.department() }}

        {{ form.salary.label() }}
        {{ form.salary(value=emp.salary) }}

        {% with msg = get_flashed_messages() %}
            {% if msg %}
                <p style="color:white!important;">{{ msg[0] }}</p>
            {% endif %}
        {% endwith %}
        <div style="margin-top: 20px">
            {{ form.submit() }}
            <input type="button" value="Cancel" style="float:right" onclick="cancel()">
        </div>
    </form>
{% endblock %}